<ion-view hide-nav-bar="true" class="has-header-view">
    <div class="header header-light half-bottom header-common">
        <a href="javascript:void(0);" onClick="javascript:history.go(-1);" class="header-icon-1">
            <i class="fa fa-angle-left"></i>
        </a>
        <div class="header-logo">
            转让中的勋章
        </div>

        <!--<a href="javascript:void(0)" onClick="javascript:history.go(-1);" class="header-icon-4" >
          <i class="fa fa-plus"></i>
        </a>-->
    </div>
    <ion-content>
        <div class="medal-content">
            <div class="cover-page">
                <div class="cover-page-content fullwidth">
                    <div class="tab_menu tab_menu1">
                        <div class="one-forth"><a href="javascript:void(0);" class="center-text">全部</a></div>
                        <div class="one-forth"><a href="javascript:void(0);" class="center-text active">转让中</a></div>
                        <div class="one-forth"><a href="javascript:void(0);" class="center-text">配售中</a></div>
                        <div class="one-forth last-column"><a href="javascript:void(0);" class="center-text">自选</a></div>
                    </div>
                    <div class="spacer half-bottom">
                    </div>
                    <div class="content">
                        <div class="fullwidth">
                            <div style="width: 28%; float: left;"><select><option selected>影视版</option>
                                <option>其他</option></select></div>
                            <div style="width: 70%; float: right;">
                                <div class="blog-sidebar-search half-bottom">
                                    <i class="fa fa-search"></i>
                                    <form id="searchForm" onsubmit="return searhKeywork()" action="wx_knowledgesearchlist.html">
                                        <input style="height: 42px;line-height: 42px;" type="text" placeholder="" id="queryTitle" />
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="spacer">
                        </div>

                        <div class="store-item-list half-bottom">
                            <a href="xzdetail.html">
                                <img src="images/starpic01.jpg" alt="img">
                                <strong>俞灏明勋章</strong>
                                <h4 class="color-red-light" style="top: 32px;">55.64 </h4>
                                <small class="color-red-light"><i class="fa fa-long-arrow-up"></i><span>+1.24<br>2.24%</span></small>
                                <em class="color-white">
                                    已付红利 0.00
                                </em>
                                <u>转让中</u>
                            </a>
                        </div>
                        <div class="spacer">
                        </div>

                        <div class="store-item-list half-bottom">
                            <a href="xzdetail.html">
                                <img src="images/starpic01.jpg" alt="img">
                                <strong>俞灏明勋章</strong>
                                <h4 class="color-green-light" style="top: 32px;">55.64 </h4>
                                <small class="color-green-light"><i class="fa fa-long-arrow-up"></i><span>+1.24<br>2.24%</span></small>
                                <em class="color-white">
                                    已付红利 0.00
                                </em>
                                <u>转让中</u>
                            </a>
                        </div>
                        <div class="spacer">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>