<div class="m-keyboard-panel">
    <p class="keyboard-hd"><a data-opt="btnComplete">完成</a></p>
    <a class="keyboard-lst" data-value="1">
        <cite class="keyboard-num">1</cite>
    </a>
    <a class="keyboard-lst" data-value="2">
        <cite class="keyboard-num">2</cite>
        <cite class="keyboard-char">ABC</cite>
    </a>
    <a class="keyboard-lst" data-value="3">
        <cite class="keyboard-num">3</cite>
        <cite class="keyboard-char">DEF</cite>
    </a>
    <p class="clearfix"></p>
    <a class="keyboard-lst" data-value="4">
        <cite class="keyboard-num">4</cite>
        <cite class="keyboard-char">GHI</cite>
    </a>
    <a class="keyboard-lst" data-value="5">
        <cite class="keyboard-num">5</cite>
        <cite class="keyboard-char">JKL</cite>
    </a>
    <a class="keyboard-lst" data-value="6">
        <cite class="keyboard-num">6</cite>
        <cite class="keyboard-char">ABC</cite>
    </a>
    <p class="clearfix"></p>
    <a class="keyboard-lst" data-value="7">
        <cite class="keyboard-num">7</cite>
        <cite class="keyboard-char">PQRS</cite>
    </a>
    <a class="keyboard-lst" data-value="8">
        <cite class="keyboard-num">8</cite>
        <cite class="keyboard-char">TUV</cite>
    </a>
    <a class="keyboard-lst" data-value="9">
        <cite class="keyboard-num">9</cite>
        <cite class="keyboard-char">WXYZ</cite>
    </a>
    <p class="clearfix"></p>
    <span class="keyboard-lst keyboard-dark"></span>
    <a class="keyboard-lst keyboard-zero" data-value="0">
        <cite class="keyboard-num">0</cite>
    </a>
    <span class="keyboard-lst keyboard-delete">
        <i class="icon-delete"></i>
    </span>
    <p class="clearfix"></p>
</div>