<ion-view>
	<ion-tabs class="tabs-icon-top my-tabs">
		<!-- <ion-tab title="首页" ui-sref="app.tabs.index" href="#/index" icon-off="tab_bottom_o" icon-on="tab_bottom_ohover">
		    <ion-nav-view name="viewIndex"></ion-nav-view>
		</ion-tab> -->
		<ion-tab title="投资" ui-sref="app.tabs.plist" href="#/plist" icon-off="tab_invest" icon-on="tab_invest_active">
		    <ion-nav-view name="viewPlist"></ion-nav-view>
		</ion-tab>
		<ion-tab title="账户" ui-sref="app.tabs.accountInfo" href="#/accountInfo" icon-off="tab_bottom_t" icon-on="tab_bottom_thover">
		    <ion-nav-view name="viewAccountInfo"></ion-nav-view>
		</ion-tab>
		<ion-tab title="活动" ui-sref="app.tabs.activityList" href="#/activityList" icon-off="tab_bottom_h" icon-on="tab_bottom_hhover">
		    <ion-nav-view name="viewActivityList"></ion-nav-view>
		</ion-tab>
		<ion-tab title="更多" ui-sref="app.helpCenter" href="#/helpCenter" icon-off="tab_more" icon-on="tab_more_active">
			<ion-nav-view name="viewHelpCenter"></ion-nav-view>
		</ion-tab>
		<!-- <ion-tab title="更多" ui-sref="app.tabs.foundIndex" href="#/foundIndex" icon-off="tab_more" icon-on="tab_more_active">
			<ion-nav-view name="viewFound"></ion-nav-view>
		</ion-tab> -->
	</ion-tabs>
</ion-view>
