<ion-view hide-nav-bar="true" class="has-header-view">
	<div class="header header-light header-common">
		<a href="javascript:void(0);" onClick="javascript:history.go(-1);" class="header-icon-1" >
			<i class="fa fa-angle-left"></i>
		</a>
		<div class="header-logo">出金</div>
	</div>
	<ion-content class="business_page">
		<div id="page-content" class="account-center-content into-gold">
		  <div class="center-text" >
		    <div class="scale-hover button-blue social-ball" style="margin-top: 20px"><i class="fa fa-check"></i></div>
		    <h4>出金成功</h4>
		    <p class="tip">出金申请已提交，请等待银行处理！</p>
		  
			<div class="spacer half-bottom"></div>

		    <div class="content">
		    	<a ui-sref="app.accountIndex" href="javascript:void(0);" class="button-center button-yellow button-fullscreen">完成</a>
		    </div>

		    <div class="footer footer-light">
		      <div class="footer-content">
		        <a href="javascript:void(0);" class="footer-logo">
		        </a>
		      </div>
		    </div>
		  </div>
		</div>
	</ion-content>
</ion-view>