<ion-view hide-nav-bar="true" class="has-header-view">
    <div class="header header-light half-bottom header-common">
        <a href="javascript:void(0)" onClick="javascript:history.go(-1);" class="header-icon-1" >
            <i class="fa fa-angle-left"></i>
        </a>
        <div class="header-logo">
            历史成交
        </div>
    </div>
    <ion-content>
        <div class="cover-page account-center-content">
            <div class="cover-page-content fullwidth deal-history">
                <div class="content half-bottom start-stop-time">
                    <table class="small-text color-white center-text table01" style="background: rgba(255,255,255,.3);" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>起始日期<br><h5 class="color-white">2016-11-15</h5></td>
                            <td align="center" valign="middle" style="vertical-align:middle; width:3em;"><i class="fa fa-arrow-circle-right"></i></td>
                            <td>截止日期<br><h5 class="color-white">2016-11-15</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="content history-list">
                    <table class="small-text center-text color-white table01" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="">藏品<br>时间</th>
                            <th width="23%">价格</th>
                            <th width="22%">数量</th>
                        </tr>
                        <tr>
                            <td width="35%">何明翰勋章<br><span class="highlighted1 bg-red-dark color-white">买</span> 02-14 14:47:55</td>
                            <td width="23%">164.94</td>
                            <td width="22%">154</td>
                        </tr>
                        <tr>
                            <td  colspan="4"><hr class="hr1"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>