<ion-view hide-nav-bar="true" class="has-header-view">
	<div class="header header-light half-bottom">
		<a href="javascript:void(0)" onClick="javascript:history.go(-1);" class="header-icon-1" >
			<i class="fa fa-angle-left"></i>
		</a>
		<div class="header-logo">登录</div>
	</div>
    <ion-content>
        <div class="cover-page">
	        <div class="cover-page-content cover-page">
	            <div class="pageapp-login">
	                <div class="pageapp-login-logo">
	                  <img src="images/logo1.png" style="width:100%;height:auto;margin-top:20px;"/>
	                </div>
	                <div class="spacer"></div>
	                <div class="cover-field">
	                    <i class="fa fa-user"></i>
	                    <input type="text" placeholder="用户名 / 手机号">
	                </div>  
	                              
	                <div class="cover-field half-bottom">
	                    <i class="fa fa-lock"></i>
	                    <input type="password" placeholder="密码">
	                </div>

	                <a href="register.html" class="pageapp-login-button button-yellow go-register"><i class="fa fa-arrow-right"></i> 登录 </a>
	                <div class="decoration half-bottom"></div>
	                <a href="#" class="center-text color-white full-bottom">注册帐号 忘记密码</a>
	            <div class="social-center full-bottom">
	                <a href="#" class="scale-hover"><i class="fa fa-wechat white-color"></i></a>
	                <a href="#" class="scale-hover"><i class="fa fa-qq white-color"></i></a>
	                <a href="#" class="scale-hover"><i class="fa fa-weibo white-color"></i></a>
	                <div class="clear"></div>
	            </div>
	            </div>
	            
	        </div>
	        <div class="overlay"></div>
    	</div>
    </ion-content>
</ion-view>