<ion-view hide-nav-bar="true" class="has-header-view">
	<div class="header header-light header-common">
	    <a href="javascript:void(0)" onClick="javascript:history.go(-1);" class="header-icon-1" >
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <div class="header-logo">确认入金金额</div>
	  </div>
	<ion-content class="business_page">
		<div id="page-content-scroll" class="account-center-content">
	  		<form novalidate>
		   <div class="content-fullscreen no-bottom" style="background-color: rgba(255,255,255,.8); padding: 10px 0px;"> 
		    <div class="page-profile stepsintro"> 
		     <table class="small-text color-white center-text" width="100%" border="0" cellspacing="0" cellpadding="0"> 
		      <tbody> 
		       <tr> 
		        <td width="33%"><a href="#" class="scale-hover button-blue social-ball-small">1</a></td> 
		        <td width="33%"><a href="#" class="scale-hover button-blue social-ball-small">2</a></td> 
		        <td><a href="#" class="scale-hover button-grey social-ball-small">3</a></td> 
		       </tr> 
		       <tr> 
		        <td class="color-blue-dark">向e账户转账</td> 
		        <td class="color-blue-dark">确认金额</td> 
		        <td class="color-night-light">完成入金</td> 
		       </tr> 
		      </tbody> 
		     </table> 
		    </div> 
		   </div> 
		   <div class=""> 
		    <div class="spacer"></div> 
		    <div class="cover-field longetext no-bottom"> 
		     <i class="">专属e账户</i> 
		     <input type="text" ng-model="userInfo.ebankAccount" readonly="readonly" /> 
		    </div> 
		    <div class="cover-field longetext no-bottom">
		     <i class="">确认金额</i> 
		     <input type="text" required="请输入金额" ng-model="rechargeModel.EBankBalance" name="EBankBalance" /> 
		     <em class="" style="position: absolute; right: 20px; top: 8px;">元</em> 
		    </div> 
		   </div>

			<div class="verify-code">
				<div class="cover-field longetext no-bottom cover-field verify-input">
					<i class="">手机验证码</i>
					<input type="text" required="请输入手机验证码" ng-model="rechargeModel.verifyCode" name="verifyCode" />
				</div>
				<div class="last-column hits-code" ng-if="!isSendCode">
					<a href="javascript:void(0);" class="button-grey button-xs button-fullscreen no-bottom" ng-click="sendVerifycode()">获取验证码</a>
				</div>
				 <div class="last-column hits-code" ng-if="isSendCode">
					 <a href="javascript:void(0);" class="button-disabled button-xs button-fullscreen no-bottom">{{ countdown }}秒后可重新获取</a>
				 </div>
			</div>

		   <div class="spacer half-bottom"></div>

		   <div class="content"> 
		    <a href="javascript:void(0);" class="button-center button-yellow button-fullscreen" ng-click="depositFunds()">确认入金</a> 
		   </div> 
		   <div class="footer footer-light"> 
		    <div class="footer-content"> 
		     <a href="javascript:void(0);" class="footer-logo"> </a> 
		    </div> 
	  		</form>
		   </div> 
		  </div>
	</ion-content>
</ion-view>