<ion-view hide-nav-bar="true" class="has-header-view">
	<div class="header header-light half-bottom">
		<a href="javascript:void(0)" onClick="javascript:history.go(-1);" class="header-icon-1" >
			<i class="fa fa-angle-left"></i>
		</a>
		<div class="header-logo">注册账户</div>
	</div>
	<ion-content>
	<ion-content style="top: 0;background-color: #332C20;">
		<div class="cover-page">
			<div class="cover-page-content cover-page">
				<div class="pageapp-login">
					<div class="pageapp-login-logo">
						<img src="images/logo1.png" style="width:100%;height:auto;margin-top:20px;"/>
					</div>
					<div class="spacer"></div>
					<div class="cover-field">
						<i class="fa fa-user"></i>
						<input type="text" placeholder="手机号">
					</div>

					<div class="cover-field one-half half-bottom">
						<i class="fa fa-lock"></i>
						<input type="password" placeholder="手机验证码">
					</div>
					<div class="one-half last-column">
						<a href="#" class="button-grey button-xs button-fullscreen no-bottom">获取验证码</a>
					</div>
					<!--<div class="">
                        <a href="#" class="button button-disabled button-xs button-fullscreen no-bottom">50秒后可重新获取短信</a>
                    </div> -->
					<a href="register_bankcard.html" class="pageapp-login-button button button-yellow register-btn"><i class="fa fa-arrow-right"></i> 注册 </a>
					<div class="decoration half-bottom"></div>
					<a href="#" class="center-text color-white full-bottom">已有帐号，直接登录</a>
					<div class="social-center full-bottom">
						<a href="#" class="scale-hover"><i class="fa fa-wechat white-color"></i></a>
						<a href="#" class="scale-hover"><i class="fa fa-qq white-color"></i></a>
						<a href="#" class="scale-hover"><i class="fa fa-weibo white-color"></i></a>
						<div class="clear"></div>
					</div>
				</div>

			</div>
			<div class="overlay"></div>

		</div>
	</ion-content>
</ion-view>
